
body{
    font-family: 'Lato', sans-serif;
    border: 2px solid gray;
    border-radius: 6px;
    display: flex;
    width: 1037px;
    height: 600px;
    margin-left: 220px;
    margin-right: 150px;
    margin-top: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px gray;
}

/* body > h2{
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    display: inline;
    margin-top: 2px;

    
} */
#img{
    display: flex;
    height: 350px;
    width: 400px;
    margin-right: 52px;
    border: 5px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px gray;
}

.name{
    border: 2px solid rgb(7, 43, 244);
    border-radius: 5px;
    text-align: center;
    font-size: large;
    margin-right: 15px;
    margin-bottom: 20px;
    
}
.name:hover{
    cursor: pointer;
    background-color: lightblue;
}
h3{
    display: inline;
    padding-top: 20px;
    margin-right: 10px;
    /* margin: 10px 10px 0px 0px ; */
    margin-top: 20px;
    margin-left: 20px;
}
.Register{
    font-size: largr;
    border: none;
    background-color: #0d6efd;
    font: bold;
    width: 300px;
    height: 29px;
    border-radius: 15px;
}
.Register:hover{
    cursor: pointer;
}
h3 > option{
    margin-left: 20px;
    /* display: block; */
    width: 60px;
    font-size: 14px;
}
.login{
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    text-decoration: none;
    display: inline;
    color: black;
    background-color: #0d6efd;
}
.login a{
    text-decoration: none;
    color:black;
}
@media only screen and (max-width: 480px) {
    #img{
        width: 350px;
        height: 200px;
        margin-left: 0px;
        margin: auto;
    }
    body{
        display: flex;
        flex-direction: column;
        height: 980px;
        width: 480px;
        margin-left: 0px;
        text-align: center;
        border: none;
    }
}
/* 
@media only screen and (min-width: 481px) and (max-width:750px){
    body{
        margin-left: 0px;
    }
}
@media only screen and (min-width: 751px){
    body{
        margin-left: 250px;
        margin-right: 250px;
    }
} */

@media(max-width:800px){
    #img{
        display: none;
    }
    body{
        margin-left: 5px;
        margin-right: 0;
        padding-left: 10px;
        display: inline-block;
        width: 500px;

    }
}